body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen-Sans,Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}

small {
    font-size: 0.8em;
    color: rgb(175, 175, 175);
    font-weight: 400;
}

.nav {
  font-size: 1.55em;
  font-weight: 400;
}

/*
.nav-filter {
	background-color: rgb(200, 94, 197);
}
*/

.nav {
  background-color: rgb(116, 94, 197)
}

.nav-pills a {
    color: #c1b7e7;
    background-color:rgb(116, 94, 197);
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent !important;
}

.table thead{
    background-color: #373A3C;
    color: #ECEEEF;
    font-size: 1.4em;
}

.table tbody{
    color: #373A3C;
    font-size: 1.15em;
}

td {
    height:50px;
    vertical-align: middle !important;
}

.table thead > tr > th, .table tfoot > tr > th, .table thead > tr > td{ border: 0px solid #2980B9; }
